	<%= render 'shared/header', :current => 'shc' %>
    
  <!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos">
			<li><a title="Help" class="button" href="mailto:jonthewayne@gmail.com"><span class="smaller">HELP</span></a></li>
      <li><%= link_to '<span class="smaller">MY ACCOUNT</span>'.html_safe, edit_admin_tool_user_path(current_admin_tool_user.id), :class => 'button' %></li>      
      <li><%= link_to '<span class="smaller">LOGOUT</span>'.html_safe, destroy_admin_tool_user_session_path, :class => 'button red' %></li>     
		</ul>   

	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->	
  
  <!-- Content -->
	<article class="container_12">
		

		<div class="clear"></div>
    
    <% if notice %>
    <div id="message">
      <ul class="message success grid_12">
			  <li><%= notice %></li>
        <li class="close-bt"></li>
		  </ul>
      <div class="clear"></div>
    </div>   	
    <% end %>

		<section class="grid_12">
		  <div class="block-border">  
				<div class="block-content" id="production">			
          <h1>Dashboard</h1>
          <div class="columns">		    	
            <!-- Left column -->
            <div class="colx3-left tip-right">
              <div class="fieldset-grid with-legend lite-grey-gradient clearfix">
                <div class="legend">
                  Item Related
                </div>
                <ul class="bullet-list">
                  <li><%= link_to "Stock Merit Abilities", items_path %></li>
                  <li><%= link_to "Item Categories", item_categories_path %></li>
                </ul>
              </div> 
            </div>
          </div>          
        </div>
      </div> 
		</section> 
        
		<div class="clear"></div>        	
		
	</article>









