	<%= render 'shared/header', :current => 'users' %>

  <!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos">
			<li><a title="Help" class="button" href="mailto:jonthewayne@gmail.com"><span class="smaller">HELP</span></a></li>
      <li><%= link_to '<span class="smaller">MY ACCOUNT</span>'.html_safe, edit_admin_tool_user_path(current_admin_tool_user.id), :class => 'button' %></li>      
      <li><%= link_to '<span class="smaller">LOGOUT</span>'.html_safe, destroy_admin_tool_user_session_path, :class => 'button red' %></li>     
		</ul>
		

	
	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->	
  
  <!-- Content -->
	<article class="container_12">
		

		<div class="clear"></div>
    
    <% if notice %>
    <div id="message">
      <ul class="message success grid_12">
			  <li><%= notice %></li>
        <li class="close-bt"></li>
		  </ul>
      <div class="clear"></div>
    </div>   	
    <% end %>
      	
		<section class="grid_12">
		  
			<%= form_tag admin_tool_users_path, :method => 'get', :id => "resources_search", :class => "block-border form" do %>
				<div class="block-content">
        <h1>Admin Users<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new admin user") + " new", new_admin_tool_user_path %></h1>
				
				<div class="block-controls">

					<ul class="controls-buttons">
            <span id="pagination"><%= render 'pagination' %></span>
						<li class="sep"></li>		
						<li><span class="input-type-text margin-right relative"><%= text_field_tag :search, params[:search] %><%= image_tag("icons/fugue/magnifier.png", :size => "16x16", :alt => "Search") %></span></li>					              
					</ul>
				</div>

				<div class="no-margin" id="resources">			
          <%= render 'users' %>
        </div>
				
				<ul class="message no-margin">
					<li><span id="pagination-footer"><%= render 'pagination-footer' %></span></li>
				</ul>
      </div>        
      			
			<% end %>
		</section>

        
		<div class="clear"></div>

		
	</article>









