      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>	
      
      <table class="table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th scope="col">

								Image
							</th>
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "name", "sort-up", "Alphabetical" %>
								  <%= sortable "name", "sort-down", "Reverse Alphabetical" %>   
								</span>
								Name
							</th>              
							<th scope="col">Description</th>
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "attack", "sort-up", "Least Attack Points First" %>
								  <%= sortable "attack", "sort-down", "Most Attack Points First" %>   
								</span>
                
								Attack
							</th>   
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "defense", "sort-up", "Least Defense Points First" %>
								  <%= sortable "defense", "sort-down", "Most Defense Points First" %>   
								</span>
                
								Defense
							</th>    
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "movement", "sort-up", "Least Movement Points First" %>
								  <%= sortable "movement", "sort-down", "Most Movement Points First" %>   
								</span>
                
								Movement
							</th>     
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "cost", "sort-up", "Lowest Price First" %>
								  <%= sortable "cost", "sort-down", "Highest Price First" %>   
								</span>
                
								Cost
							</th>                                                                                      
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "created_at", "sort-up", "Oldest First" %>
								  <%= sortable "created_at", "sort-down", "Newest First" %>                  
								</span>
                
								Created On
							</th>
							<th scope="col" class="table-actions">Actions</th>
						</tr>
					</thead>
					
					<tbody>       
            <% @pieces.each do |piece| %>            
						<tr>
							<td><%= link_to image_tag(piece.image.url(:medium), :alt => "Click to see large " + "#{piece.name}"), piece %></td>
							<td><%= piece.name %></td>
							<td><%= piece.description %></td>
							<td><%= piece.attack %></td>
							<td><%= piece.defense %></td>
							<td><%= piece.movement %></td>
							<td><%= piece.cost %></td>
							<td><%= piece.created_at.strftime("%B %e, %Y") %></td>                                                                      

							<td class="table-actions">
        			  <%= link_to image_tag("icons/fugue/pencil.png", :size => "16x16", :alt => "Edit game piece"), edit_piece_path(piece) %>
								<%= link_to image_tag("icons/fugue/cross-circle.png", :size => "16x16", :alt => "Delete game piece"), piece_path(piece, :direction => sort_direction, :sort => sort_column, :page => params[:page], :search => params[:search]), :class => 'remote-delete' %>
							</td>
						</tr>
            <% end %>
					</tbody>
				
				</table>
