    <% # text_field_tag :search, params[:search] %>

	<!-- Content -->
	<article class="container_12">
		

		<div class="clear"></div>
		
		<section class="grid_12">
			<% form_tag pieces_path, :method => 'get', :id => "pieces_search", :class => "block-border form" do %>
				<div class="block-content">
        <h1>Game Pieces<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game piece") + " add", new_piece_path %></h1>
				
				<div class="block-controls">
					
					<ul class="controls-buttons">
						<li><a href="#"><img src="images/icons/fugue/arrow-circle.png" width="16" height="16"></a></li>
						<li class="sep"></li>				
            <% # will_paginate(@pieces, :container => false, :renderer => PaginationListLinkRenderer, :previous_label => image_tag("icons/fugue/navigation-180.png", :size => "16x16", :alt => "Add new game piece") + " prev", ) %>	  
						<%= will_paginate(@pieces, :container => false) %>
					</ul>
					
				</div>

			
				<div class="no-margin"><table class="table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th scope="col">

								Image
							</th>
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "name", "sort-up", "Alphabetical" %>
								  <%= sortable "name", "sort-down", "Reverse Alphabetical" %>   
								</span>
								Name
							</th>              
							<th scope="col">Description</th>
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "attack", "sort-up", "Least Attack Points First" %>
								  <%= sortable "attack", "sort-down", "Most Attack Points First" %>   
								</span>
								Attack
							</th>   
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "defense", "sort-up", "Least Defense Points First" %>
								  <%= sortable "defense", "sort-down", "Most Defense Points First" %>   
								</span>
								Defense
							</th>    
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "movement", "sort-up", "Least Movement Points First" %>
								  <%= sortable "movement", "sort-down", "Most Movement Points First" %>   
								</span>
								Movement
							</th>     
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "cost", "sort-up", "Lowest Price First" %>
								  <%= sortable "cost", "sort-down", "Highest Price First" %>   
								</span>
								Cost
							</th>                                                                                      
							<th scope="col">
								<span class="column-sort">
								  <%= sortable "created_at", "sort-up", "Oldest First" %>
								  <%= sortable "created_at", "sort-down", "Newest First" %>                  
								</span>
								Date Created
							</th>
							<th scope="col" class="table-actions">Actions</th>
						</tr>
					</thead>
					
					<tbody>       
            <% @pieces.each do |piece| %>            
						<tr>
							<td><%= link_to image_tag(piece.image.url(:medium), :alt => "Click to see large " + "#{piece.name}"), piece %></td>
							<td><%= piece.name %></td>
							<td><%= piece.description %></td>
							<td><%= piece.attack %></td>
							<td><%= piece.defense %></td>
							<td><%= piece.movement %></td>
							<td><%= piece.cost %></td>
							<td><%= piece.created_at.strftime("%B %e, %Y") %></td>                                                                      

							<td class="table-actions">
        			  <%= link_to image_tag("icons/fugue/pencil.png", :size => "16x16", :alt => "Edit game piece"), edit_piece_path(piece) %>
								<%= link_to image_tag("icons/fugue/cross-circle.png", :size => "16x16", :alt => "Delete game piece"), piece, :confirm => 'Are you sure?', :method => :delete %>
							</td>
						</tr>
            <% end %>
					</tbody>
				
				</table></div>
				
				<ul class="message no-margin">
					<li><%= page_entries_info @pieces %></li>
				</ul>
      </div>
		</section>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>				
				<% end %>
        
		<div class="clear"></div>
		
	</article>