<%= form_for @item, :html => { :multipart => true, :class => "form" } do |f| %>  

  <% # output class, type, and currency_type as hidden fields %>
  <%= f.hidden_field(:currency_type) %>   
  <%= f.hidden_field :image_cache %>
   

  <fieldset>    
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "full-width" %>
      </p>

      <p>
        <%= f.label :description %>
        <%= f.text_area :description, :class => "full-width", :rows => "5" %>
      </p>  
      <p>
        <%= f.label ((@item.image?) ? "Photo (already uloaded)" : "Photo") %>
        <%= f.file_field :photo, :class => "full-width" %>
      </p>    
      <div class="columns">
			  <p class="colx3-left">
          <%= f.label :attack %>
          <%= f.text_field :attack, :class => "full-width" %>
				</p>
			  <p class="colx3-center">
          <%= f.label :defense %>
          <%= f.text_field :defense, :class => "full-width" %>
			  </p>
			  <p class="colx3-right">
          <%= f.label :agility %>
          <%= f.text_field :agility, :class => "full-width" %>
				</p>        
			</div>
      <div class="columns">
			  <p class="colx2-left">
          <%= f.label :class %>
          <%= f.select :klass, {"1 - Alpha Class" => "1", "2 - Gamma Class" => "2", "3 - Omega Class" => "3"}, {},{:class => "full-width"} %>          
				</p>
			  <p class="colx2-right">
          <%= f.label :type %>
          <% # show non-pending types only if user is admin or we're in the edit view for production item. In latter case, contributor will see non-pending type but not be able to save the changes. %>
          <%= f.select :type, (can? :manage, @item) ? {"0 - Attack" => "0", "1 - Defense" => "1", "2 - Movement" => "2", "20 - Pending Attack" => "20", "21 - Pending Defense" => "21", "22 - Pending Movement" => "22"} : ((%w[0 1 2 3 4].include? @item.type.to_s) ? {"0 - Attack" => "0", "1 - Defense" => "1", "2 - Movement" => "2", "20 - Pending Attack" => "20", "21 - Pending Defense" => "21", "22 - Pending Movement" => "22"} : {"20 - Pending Attack" => "20", "21 - Pending Defense" => "21", "22 - Pending Movement" => "22"}), {},{:class => "full-width"} %>                    
			  </p>
      </div>         
      <div class="columns">
			  <p class="colx2-left">
          <%= f.label "Ability Element" %>
          <%= f.select :ability_element_id, {"1 - Fire/Heat" => "1", "2 - Water/Ice" => "2", "3 - Air/Wind/Sound" => "3", "4 - Physical/Kinetic" => "4", "5 - Weapon/Tech" => "5", "6 - Earth/Nature" => "6", "7 - Mental/Time" => "7", "8 - Energy/Light/Electricity" => "8", "9 - Dark/Poison" => "9"}, {},{:class => "full-width"} %>
				</p>
        <% if (%w[0 20].include? @item.type.to_s) # for attack cards only %>
        <p class="colx2-right">
          <%= f.label "Item Category" %>
          <%= f.select :item_category_id, ItemCategory.order("id desc").map {|ic| ["#{ic.id} - #{ic.category}", ic.id]}, {},{:class => "full-width"} %>                 
        </p>
        <% end %>  
      </div>      
      <% if (can? :manage, @item) or (%w[20 21 22].include? @item.type.to_s) %>                 
        <p><button type="submit">Save Item</button></p>     
      <% else %> 
        <p><em>There's no Save button because you don't have permission to make changes to production items. </em></p>
      <% end %>
  </fieldset>  
  <% unless @item.new_record? %>
      <fieldset class="grey-bg no-margin collapsed">
				<legend><a href="#">Extra Fields</a></legend>
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :sort %>
              <%= f.text_field :sort %>
				    </p>
			      <p class="colx2-right">
              <%= f.label "Quantity" %>
              <%= f.text_field :num_available %>
			      </p>
          </div>    
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :rarity %>
              <%= f.text_field :rarity %>
				    </p>
			      <p class="colx2-right">
              <%= f.label :level %>
              <%= f.text_field :level %>
			      </p>
          </div>  
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :price %>
              <%= f.text_field :price %>
				    </p>
          </div>                           
			</fieldset>         
  <% end %>     
<% end %>		  
