<%= form_for @item, :html => { :multipart => true, :class => "form" } do |f| %>  

  <% # output class, type, and currency_type as hidden fields %>
  <%= f.hidden_field(:currency_type) %>    
  <% if @item.new_record? %>
    <%= f.hidden_field(:klass) %>    
    <%= f.hidden_field(:type) %>      
  <% end %>
  

  <fieldset>    
      <p>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "full-width" %>
      </p>

      <p>
        <%= f.label :description %>
        <%= f.text_area :description, :class => "full-width", :rows => "5" %>
      </p>  
      <p>
        <%= f.label :photo %>
        <%= f.text_field :photo, :class => "full-width" %>
      </p>
      <div class="columns">
			  <p class="colx2-left">
          <%= f.label :attack %>
          <%= f.text_field :attack, :class => "full-width" %>
				</p>
			  <p class="colx2-right">
          <%= f.label :defense %>
          <%= f.text_field :defense, :class => "full-width" %>
			  </p>
			</div>
      <div class="columns">
			  <p class="colx2-left">
          <%= f.label :agility %>
          <%= f.text_field :agility, :class => "full-width" %>
				</p>
        <p class="colx2-right">
          <%= f.label "Ability Element" %>
          <%= f.select :ability_element_id, {"1 - Fire/Heat" => "1", "2 - Water/Ice" => "2", "3 - Air/Wind/Sound" => "3", "4 - Physical/Kinetic" => "4", "5 - Weapon/Tech" => "5", "6 - Earth/Nature" => "6", "7 - Mental/Time" => "7", "8 - Energy/Light/Electricity" => "8", "9 - Dark/Poison" => "9"}, :class => "full-width" %>
        </p>
      </div> 
      <div class="columns">
        <% if @item.type == 0 # for attack cards only %>
        <p class="colx2-left">
          <%= f.label "Item Category" %>
          <%= f.select :item_category_id, ItemCategory.order("id desc").map {|ic| ["#{ic.id} - #{ic.category}", ic.id]}, :class => "full-width" %>                 
        </p>
        <% end %>     
      </div>                       
      <p><button type="submit">Save Item</button>      
  </fieldset>  
  <% unless @item.new_record? %>
      <fieldset class="grey-bg no-margin collapsed">
				<legend><a href="#">Extra Fields</a></legend>
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :class %>
              <%= f.text_field :klass %>
				    </p>
			      <p class="colx2-right">
              <%= f.label :type %>
              <%= f.text_field :type %>
			      </p>
          </div> 
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :sort %>
              <%= f.text_field :sort %>
				    </p>
			      <p class="colx2-right">
              <%= f.label "Quantity" %>
              <%= f.text_field :num_available %>
			      </p>
          </div>    
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :rarity %>
              <%= f.text_field :rarity %>
				    </p>
			      <p class="colx2-right">
              <%= f.label :level %>
              <%= f.text_field :level %>
			      </p>
          </div>  
          <div class="columns">
			      <p class="colx2-left">
              <%= f.label :price %>
              <%= f.text_field :price %>
				    </p>
          </div>                           
			</fieldset>         
  <% end %>     
<% end %>		  
