
      <table class="table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th scope="col" width="100">Image</th>
							<th scope="col" width="30">Id</th>              
							<th scope="col">Name</th>                
							<th scope="col" width="80">Quantity</th>
							<th scope="col" width="80">Price</th>                    
							<th scope="col" width="80">Level</th>
							<th scope="col" width="80">Sort</th>                                    
							<th scope="col" class="table-actions"width="50">Actions</th>
						</tr>
					</thead>
					
					<tbody>       
            <% @items.each do |item| %>       
            <% if item.klass == c && item.type == t %>     
						<tr>
							<td><%= link_to(image_tag(item.photo, :alt => "#{item.name}"), edit_item_path(item)) if item.photo %></td>
							<td><%= item.id %></td>
							<td><%= item.name %></td>
							<td><%= item.num_available %></td>
							<td><%= item.price %></td>
							<td><%= item.level %></td>
							<td><%= item.sort %></td>

							<td class="table-actions">
        			  <%= link_to image_tag("icons/fugue/pencil.png", :size => "16x16", :alt => "Edit item"), edit_item_path(item) %>
								<%= link_to image_tag("icons/fugue/cross-circle.png", :size => "16x16", :alt => "Delete item"), item_path(item, :direction => sort_direction, :sort => sort_column, :page => params[:page], :search => params[:search]), :confirm => 'Are you sure?', :method => :delete, :remote => true %>
							</td>
						</tr>
            <% end %>
            <% end %>
					</tbody>
				
				</table>
