		<!--Class 1 Attack -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Attack<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new pending game item") + " new", new_item_path(:t=>20) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => {:t => 20} %>
        </div>
				
				<ul class="message no-margin">
					<li>Attack</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Defense -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Defense<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new pending game item") + " new", new_item_path(:t=>21) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => {:t => 21} %>
        </div>
				
				<ul class="message no-margin">
					<li>Defense</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Movement -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Movement<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new pending game item") + " new", new_item_path(:t=>22) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => {:t => 22} %>
        </div>
				
				<ul class="message no-margin">
					<li>Movement</li>
				</ul>
      </div>        			
			</div>
		</section>  
    