		<!--Class 1 Attack -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 1 Attack<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>1,:t=>0) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => {:c => 1, :t => 0} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 1 Attack</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Class 1 Defense -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 1 Defense<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>1,:t=>1) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 1, :t => 1} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 1 Defense</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Class 1 Movement -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 1 Movement<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>1,:t=>2) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 1, :t => 2} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 1 Movement</li>
				</ul>
      </div>        			
			</div>
		</section>  
    
    
    
		<!--Class 2 Attack -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 2 Attack<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>2,:t=>0) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 2, :t => 0} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 2 Attack</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Class 2 Defense -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 2 Defense<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>2,:t=>1) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 2, :t => 1} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 2 Defense</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Class 2 Movement -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 2 Movement<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>2,:t=>2) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 2, :t => 2} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 2 Movement</li>
				</ul>
      </div>        			
			</div>
		</section> 
    
    
    
		<!--Class 3 Attack -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 3 Attack<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>3,:t=>0) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 3, :t => 0} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 3 Attack</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Class 3 Defense -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 3 Defense<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>3,:t=>1) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 3, :t => 1} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 3 Defense</li>
				</ul>
      </div>        			
			</div>
		</section>
    
		<!--Class 3 Movement -->
    <section class="grid_12">
		  <div class="block-border">
				<div class="block-content">
        <h1>Class 3 Movement<%= link_to image_tag("icons/fugue/plus-circle-blue.png", :size => "16x16", :alt => "Add new game item") + " new", new_item_path(:c=>3,:t=>2) %></h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li> </li>		
					</ul>
				</div>

				<div class="no-margin">			
          <%= render :partial => 'items', :locals => { :c => 3, :t => 2} %>
        </div>
				
				<ul class="message no-margin">
					<li>Class 3 Movement</li>
				</ul>
      </div>        			
			</div>
		</section>               