	<%= render 'header' %>
  
  <!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos">
			<li><a title="Help" class="button" href="mailto:jonthewayne@gmail.com"><span class="smaller">HELP</span></a></li>
      <li><%= link_to '<span class="smaller">MY ACCOUNT</span>'.html_safe, edit_admin_tool_user_path(current_admin_tool_user.id), :class => 'button' %></li>      
      <li><%= link_to '<span class="smaller">LOGOUT</span>'.html_safe, destroy_admin_tool_user_session_path, :class => 'button red' %></li>     
		</ul>
		
		<ul id="breadcrumb">
      <li><%= link_to "Stock Merit Abilities", items_path %></li>
      <% if @item.currency_type.to_s == "1" %>
        <li><a title="Creating new stock merit ability..." href="#">Creating new stock merit ability...</a></li>      
      <% else %>
        <li><a title="Creating new item..." href="#">Creating new item...</a></li>      
      <% end %>  
		</ul>
	
	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->	
  
  <!-- Content -->
	<article class="container_12">
		

		<div class="clear"></div>
        
    <%= render "shared/error_messages", :target => @item %>
    
    <!-- form -->
		<section class="grid_6">
		  <div class="block-border">  
				<div class="block-content" id="edit_item">			
          <h1><%= item_label(@item) %></h1>
          <%= render 'form' %>
        </div>
      </div>    			
		</section>
    
		<section class="grid_6">
		  <div class="block-border"><div class="block-content">  
        <h1>Card Display</h1>
				<div class="no-margin" id="edit_item">			
          <%= render 'card' %>
        </div>
      </div></div>    					  
		</section>        
        
		<div class="clear"></div>      
		  



