<!DOCTYPE html>
<html>
<head>
  <title>Klicknation Admin</title>
  <%= stylesheet_link_tag "reset", "common", "form", "standard", "960.gs.fluid", "simple-lists", "block-lists", "table" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <meta charset="utf-8">
</head>
<body>
  
	<!-- Header -->
	
	<!-- Status bar -->
	<div id="status-bar"><div class="container_12">
	
		<ul id="status-infos">
			<li><a href="#" class="button" title="Click to find out about this project">About</a></li>
		</ul>
		
		<ul id="breadcrumb">
		  <li><a href="#">Klicknation Admin</a></li>
      <li><%= link_to "Game Pieces", pieces_path %></li>
		</ul>
	
	</div></div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->


<%= yield %>

</body>
</html>
