<!DOCTYPE html>
<html>
<head>
  <title>Klicknation Admin <%= yield(:title)%></title>
  <meta charset="utf-8">  
  <%= stylesheet_link_tag "reset", "common", "form", "standard", "960.gs.fluid", "simple-lists", "block-lists", "table", "app" %>
  <%= javascript_include_tag "html5", "jquery-1.4.2.min", "rails", "application", "common", "standard", "jquery.tip", "jquery.tools.min" %>  
  <!--[if lte IE 8]><%= javascript_include_tag "standard.ie" %><![endif]-->
  
  <%= csrf_meta_tag %>
</head>
<body>
<!--[if lt IE 9]><div class="ie"><![endif]-->
<!--[if lt IE 8]><div class="ie7"><![endif]-->
  
	<!-- Header -->
	
<%= yield %>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->
</body>
</html>
